.idea/*
*.iml
*.iws
*.ipr
target/*
core/target/*
core/build/*
core/input/*
core/output/*
core/testdata/*
math/target/*
examples/target/*
buildtools/target/*
utils/target/*
eclipse/target/*
taste-web/target/*

